/dist
/tmp
/out-tsc
/bazel-out

/node_modules
npm-debug.log
yarn-error.log
yarn.lock

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

.env

/ssl/*.pem
/ssl/*.key
/ssl/*.crt

.vscode/
.idea/
*.swp
*.swo
*~
.editorconfig

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.cache
.eslintcache
.npm
.yarn

.npm

docker-data/
.docker/

/src/tailwind.css